.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}

@media screen and (max-width: 3000px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
        width: 100%;
    }
}
#titulo{
    padding-bottom: 8%;
}
