#fondo{
	background: #010e29;
}
/* #010e29;*/


#img {
	
	opacity: 40%;
	width: 98.9vw;
	height: 55vh;

}

#encabezado {
	position: absolute;
	top: 30vh;
	left: 5vw;
	padding: 2vw;
	background: white;
}

#textoInfo {
	position: absolute;
	top: 55vh;
	left: 40vw;
	background:  #010e29;
	color: white;
}